<div class="video-player" ng-if="$ctrl.video">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      ng-show="$ctrl.video"
      ng-src="{{ 'https://www.youtube.com/embed/' + $ctrl.video.id.videoId + '?autoplay=' + ($ctrl.currentAutoPlay ? '1' : '0') }}"
      allowFullScreen></iframe>
  </div>
  <div class="video-player-details">
    <h3>{{ $ctrl.video.snippet.title }}</h3>
    <video-details video="$ctrl.video"></video-details>
    <div>{{ $ctrl.video.snippet.description }}</div>
  </div>
</div>
<div ng-if="!$ctrl.video">Please wait...</div>
